{% extends "index.html" %}
{% block head %}
<section class="py-5 text-center container">
        <h3>더 체계적인 체력검사는 국민체력100홈페이지를 통해 신청가능합니다</h3>
        <br><br>
        <h3>통계를 참조하여 상대적으로 약한 부분에 대한 처방운동을 확인해보세요. </h3>
        <br><br>근지구력 : 윗몸말아올리기, 반복점프, 교차윗몸일으키기
        <br><br>유연성 : 앉아윗몸앞으로굽히기
        <br><br>순발력 : 제자리멀리뛰기
        <br><br>민첩성 : 일리노이민첩성검사
        <br><br>근기능-하지 : 의자에 앉았다 일어서기
        <br><br>평형성 : 3m 표적돌아오기
        <br><br>심폐지구력 : 2분제자리걷기
        <br><br>
        <a href="https://nfa.kspo.or.kr/front/movie/movieTypeList.do" target="_blank">다양한 운동처방 보러가기</a>

</section>

{% endblock%}