<!DOCTYPE html>
<html>

  <head>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>건강하게오래살자</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">건강하게오래살자</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/how">측정방법</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/exercise">추천운동</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/stat">통계</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      {% block head %}
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">연령구분을 선택해주세요</h1>
          <br>
          <br>
          <form action="/user">
            <b>연령구분 : <select name="model">
              <option value="유소년">만11세~12세</option>
              <option value="청소년">만13세~18세</option>
              <option value="성인">만19세~64세</option>
              <option value="노인">만65세이상</option>
              </select><br><br>
              
             <input type="submit" , value='입력' >
          </form>
          <div class="body-ml-pred">
            <br>
            <h1></h1>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
  </body>
</html>