{% extends "senior.html" %}
    {% block form %}
    <form method='POST',action="{{url_for('user')}}">
            <b>
              나이 :  <input type="text", name='ageDegree', placeholder="만 11~12"> <br><br>
              키 :  <input type="text", name='height', placeholder="cm"> <br><br>
              몸무게 :  <input type="text", name='weight', placeholder="kg"> <br><br>
              윗몸말아올리기  :  <input type="text", name='crunch', placeholder="회/30초"> <br><br>
              앉아윗몸앞으로구부리기 :  <input type="text", name='trunkFlexion', placeholder="직접입력"> <br><br>
              제자리멀리뛰기 :  <input type="text", name='standinglongjump', placeholder="cm"> <br><br>    
              </b><br>
             <input type="submit" , value='결과보기' >
          </form>
          {% endblock %}